.intro {
    position: relative;
    width: 100%;
    height: 150px;
    &__imagen {
        position: absolute;
        width: 100%;
        img {
            width: 100%;
        }
    }
    &__contenido {
        position: relative;
        text-align: center;
        padding: 30px;
        padding-bottom: 0;
        text-transform: uppercase;
        color: @absolute-white;
        .intro__categoria {
            
        }
        .intro__titulo {

        }
    }
    &__autor {
        position: relative;
        top: 10px;
        left: calc(50% - 74px);
        text-transform: uppercase;
        color: @absolute-white;
        img {
            width: 50px;
            border-radius: 50%;
        }
        &-titulo {
           position: relative;
           top: -30px;
           left: 10px;
        }
        &-nombre {
            position: relative;
            top: -15px;
            left: -25px;
        }
    }
    
}