* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
}
body {
  background: #222;
}
.intro {
  position: relative;
  width: 100%;
  min-width: 320px;
}
.intro__img {
  width: 100%;
  min-width: 320px;
  min-height: 320px;
  position: absolute;
  background-image: url("../imgs/cyber-big.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
}
.intro__contents {
  position: relative;
  padding: 20px;
  padding-top: 80px;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  z-index: 10;
}
.intro__contents .intro__category {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.intro__contents .intro__title {
  font-family: "Oswald", sans-serif;
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: bold;
}
.intro__author {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  text-align: center;
  color: #FFF;
  z-index: 10;
}
.intro__author img {
  width: 35px;
  border-radius: 50%;
}
.first-article {
  margin: 0 auto;
  padding-top: 40px;
  width: 80%;
  max-width: 700px;
  color: #FFF;
}
.first-article .first-article__intro {
  margin-bottom: 25px;
  font-size: 2rem;
  line-height: 2.5rem;
}
.first-article p {
  margin-bottom: 20px;
  font-size: 1.5rem;
  line-height: 2rem;
}
.first-article_intro--middle {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #8841da;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.first-article_intro--end {
  text-align: center;
  margin: 40px 0;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #8841da;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.box--container {
  margin: 0 auto;
  width: 90%;
  max-width: 700px;
  color: #FFF;
}
.box--container .box {
  background: #572364;
}
.box--container .box__img {
  margin: 25px 0;
}
.box--container .box__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.box--container .box__contents {
  padding: 15px;
  padding-top: 0;
}
.box--container .box__contents h3 {
  padding-bottom: 15px;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.box--container .box__contents p {
  padding-bottom: 15px;
  font-size: 1.5rem;
  line-height: 2rem;
}
.box--container .box__contents a {
  padding-bottom: 15px;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
